@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  background: #010F7F;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  background: #010F7F;
  color: #21221B;
  font-family: 'Inter', system-ui, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
